html {
    font-size: 16px; /* 1rem = 16px */
}

/* Overall container */
.stApp {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Chat message container (main area) */
.stMain {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Footer style */
.warning-footer {
    position: fixed;
    bottom: 0.5rem;
    width: 100%;
    max-width: 44rem; /* Match the width of the chat input */
    background-color: transparent;
    color: #a3a8b8;
    text-align: center;
    font-size: 0.875rem;
    padding-bottom: 0.5rem;
    z-index: 9999;
}

.stSpinner {
    color: #a3a8b8;
}

a:link {
    color: #34efa0;
    cursor: pointer;
}
